// Footer
footer {
  background: #fafafa;
  padding: 1em 2em;
  color: #777;
  font-size: $small-size;
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/PlayStation_logo.svg/2000px-PlayStation_logo.svg.png);
  background-size: 75%;
  background-position: right -50px bottom -10px;
  background-repeat: no-repeat; */
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 0.5em;
  a {
      padding: 0.5em 0;
  }
}
