/* General */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.container {
    padding: 1em 1em 0;
    position: relative;
    z-index: 1;
}

h1 {
    margin: 0;
}

.baddies {
    list-style: none;
    padding: 0;
}

/*
p,
h2 {
    margin: 0.5em 0;
}
*/


/* Backgrounds */
.backgrounds {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.lighter-blue {
    background: #bef6ff;
    height: 5%;
}

.light-blue {
    background: #bef1fd;
    height: 10%;
}

.blue {
    background: #b2f0ff;
    height: 30%;
}

.green {
    background: #53b76e;
    height: 5%;
}

.kinda-brown {
    background: #d9c0aa;;
    height: 50%;
}


/* Title */
h1 {
    text-align: center;
    padding: 0.5em 0 0.5em;
/*
    background: #cc8e8e;
    border-radius: 10px;
*/
}

/* Baddies cards */
.baddies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baddie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 370px;
    margin: 1em;
    padding: 0 1em 1em;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.name-and-coin {
    width: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot {
    background: #aaa;
    height: 5px;
    width: 15px;
}

.coin {
    background: linear-gradient(80deg, #f5ef52 0%, #f4d85e 100%);
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.baddie img {
    height: 200px;
    max-width: 100%;
    margin: 0 0 1em;
}

/* this is confusing */
.number-caught {
    width: 100%;
    text-align: center;
}

.caught-num {
    background: none;
    width: 40%;
    font-size: 1.75em;
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    padding: 0.1em 0;
    text-align: center;
    margin: 0.25em 1em 0.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    background: linear-gradient(180deg, #F55252 0%, #f56552 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    color: white;
    font-weight: 500;
    transition: all 0.33s;
}

button:hover {
    box-shadow:
        0 4px 4px rgba(0, 0, 0, 0.25),
        0 0 15px rgba(255, 7, 7, 0.5);
    }

button:active {
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.25),
        0 0 15px rgba(255, 7, 7, 0.5);
}


/* Total */
.total {
    width: 90%;
    max-width: 370px;
    margin: auto;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1em;
    font-size: 24px;
    transition: all 0.5s;
}

.line {
    display: flex;
    justify-content: space-between;
}

.line p {
    margin: 0;
    padding: 0.9em 1em;
}

#total-line {
    margin-top: 1em;
    border-top: 1px solid black;
    font-weight: 500;
}


/* Footer */
footer {
    font-size: 1em;
    max-width: 350px;
    margin: 2em auto 0;
    border-top: 3px dashed #555;
}

.footer-info {
    margin: 2em 0;
}

h3 {
    margin: 0;
    font-weight: 500;
    color: #555;
}

.footer-info p {
    margin: 0.5em 0;
}
