/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 2;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2.369em;
}

h2 {
  font-size: 1.777em;
}

h3 {
  font-size: 1.333em;
}

.main-wrapper {
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  box-shadow: 0 20px 20px #aaa;
}

.content-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  height: 80px;
  padding: 0.62em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background: white;
  position: relative;
  z-index: 2;
}
nav .logo {
  padding: 0.25em 0.5em;
  font-size: 2em;
}
nav .menu-btn {
  padding: 0.25em 0.5em;
  font-size: 2em;
}

.menu {
  position: absolute;
  z-index: 0;
  left: 50%;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 0;
  font-size: 1.333em;
}
.menu a {
  padding: 1em 0;
}

.featured {
  position: relative;
  line-height: 0;
}

.featured-text {
  line-height: 2;
  display: none;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 1em 1.62em;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.33);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 9px;
}
@media (min-width: 900px) {
  .featured-text {
    font-size: 1.333em;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 10%;
    border-radius: 0;
    top: 0;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    color: white;
    justify-content: center;
  }
  .featured-text p {
    width: 40%;
  }
}

footer {
  background: #fafafa;
  padding: 1em 2em 2em;
  color: #777;
  font-size: 0.75em;
}
footer div,
footer p {
  max-width: 1000px;
  margin: auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 0.5em;
}
.footer-links a {
  padding: 0.5em 0;
}

.button {
  margin: 1.25em 0 0.62em;
  cursor: pointer;
}

.featured-btn {
  text-align: center;
  background: black;
  color: white;
  align-self: center;
  padding: 0.52em 1.5em;
  border-radius: 100px;
  font-weight: 500;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
@media (min-width: 900px) {
  .featured-btn {
    align-self: flex-start;
    filter: invert(100%);
  }
}

.ghost-btn {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 100px;
  padding: 0.25em 1em;
}
.ghost-btn p {
  margin: 0;
}
.ghost-btn i {
  font-size: 1em;
  margin-left: 0.5em;
}

.card {
  padding: 0.62em 0.62em 1em;
  margin: 1em 0;
  border-radius: 9px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.card img {
  border-radius: 4.5px;
}
.card .card-text {
  padding: 0 1em;
}
.card h3 {
  margin: 0.618rem 0;
}

/*# sourceMappingURL=css/styles.css.map */
