$primary-font: 'Libre Baskerville', serif;
$secondary-font: 'Julius Sans One', sans-serif;
$regular-font-size: 25px;

$white: #fff;
$transluscent-white: rgba(255, 255, 255, 0.6);
$title-black: rgba(46, 72, 76);
$paragraph-black: rgba(50, 80, 80);
$very-green: rgb(19, 67, 71);
$dark-green: rgb(45, 99, 96);
$light-green: rgb(96, 116, 118);
$lighter-green: rgb(192, 202, 195)
$almost-green: rgb(62, 93, 103);
