html,
body {
    margin: 0;
    font-family: 'Futura', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 18px;
    height: 100%;
}

h1,
h2 {
    font-family: 'Futura', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.main-wrapper {
    padding: 0.5em 1.33em 0;
}

p {
    margin: 0.25em 0;
}

img {
    display: block;
}

.todo {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas: "checkbox title remainder";
    align-items: center;
    margin-bottom: 1.618em;
    grid-gap: 10px;
}

.todo input {
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    padding: 2em;
}

.todo input,
.todo .checkmark {
    grid-area: checkbox;
    align-self: center;
    justify-self: left;
}

.todo .checkmark {
    z-index: 1;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 4px;
}

.todo input:checked ~ .checkmark {
    background: #000;
    text-decoration: line-through;
}

.todo input:checked ~ .title-and-price {
    text-decoration: line-through;
}

.title-and-price {
    user-select: none;
    grid-column: title remainder;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.price-dot {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: black;
    margin: 0 0.618em;
}

.todo-details {
    grid-column: title / title;
}

.todo .image {
    height: 150px;
    width: 100%;
    border-radius: 4px;
    background-size: cover !important;
    background-position: center !important;
    filter: grayscale(1);
}

.title {
    font-weight: 500;
}

.main-wrapper {
    position: relative;
    max-width: 500px;
    height: 100%;
    margin: auto;
}

.add-btn {
    cursor: pointer;
    /* position: absolute; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn i {
    color: white;
    font-size: 2em;
}

#todo-form-wrapper {
    display: none;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    padding: 0.5em 1.33em 0;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea,
form button {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 0.618rem;
    margin: 1em 0;
    font-family: 'Futura', 'Helvetica Neue', 'Helvetica', sans-serif;
}

form input {
    border-bottom: #000 solid 2px;
    /* border-right: #000 solid 2px; */
    /* border: #000 solid 1.5px; */
}

form textarea {
    border: #000 solid 2px;
}

form input:first-of-type {
    font-size: 24px;
    font-family: 'Futura', 'Avenir', 'Helvetica Neue', 'Helvetica', sans-serif;
} 

form textarea {
    /* resize: vertical; */
    resize: none;
    height: 100px;
}

form button {
    margin: auto;
    margin-top: 1em;
    padding: 0.618em 1em;
    background: black;
    color: white;
    border: none;
    border-radius: 100px;
}

.delete-btn {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.delete-btn i {
    font-size: 1em;
}

i {
    cursor: pointer;
}

#todoFormBtn {
    cursor: pointer;
}