.todo {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas: "checkbox title remainder";
    align-items: center;
    margin-bottom: 1.618em;
}

.todo input {
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    padding: 2em;
}

.todo input,
.todo .checkmark {
    grid-area: checkbox;
    align-self: center;
    justify-self: left;
}

.title-and-price {
    user-select: none;
    grid-column: title remainder;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.todo-details {
    grid-column: title / title;
}