.progress-bar__wrapper {
    border: 1px solid #979797;
    border-bottom: 0;
    height: 10px;
}

.progress-bar__progression {
    border-right: 1px solid #979797;
}

.progress-bar__wrapper {
    width: 100%;
    background: #EBEBEB;
}

.progress-bar__progression {
    background: #979797;
}