* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue';
    line-height: 1.5;
    padding-bottom: 3em;
}

a {
    text-decoration: none;
    color: inherit
}

.editor {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 1em;
}