article {
    padding-top: 0 em;
    display: flex;
    flex-direction: column;
}

.article-wrapper {
    padding: 1em 1em 0;
    @include max-width(750px);
    img {
        margin-top: 1em;
        border-radius: 9px;
    }
}

.article-body {
    p:first-child {
        text-indent: 0;
    }
    p {
        margin: 1em 0;
        text-indent: 3em;
    }
}
