footer {
    background: #fafafa;
    padding: 0 1rem 2rem;
    font-size: $small;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    a {
        padding: 1em 0;
    }
    @include respond-to('large') {
        flex-direction: row;
        a {
            padding-right: 1em;
        }
    }
}
