.main-wrapper {
    position: relative;
    background-color: white;
    z-index: 1;
    transition: all 0.5s;
    box-shadow: 20px 0 30px rgba(0, 0, 0, 0.15);
}

.basic-wrapper {
    @include max-width(1000px);
}
