.header__nav {
    background: #D8D8D8;
    padding: 1em 1em;
    border: 1px solid #979797;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__to-home {
    text-decoration: none;
    color: inherit;
}

.nav__logo {
    background: #EBEBEB;
    /* height: 40px; */
    border: 1px solid #979797;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.618em;
}

.nav__actions {
    display: flex;
    background: #EBEBEB;
    border: 1px solid #979797;
    border-radius: 500px;
    padding: 0 0.25em;
}

.nav__action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0.25em 0.8em 0.25em 0.5em;
}

.nav__action:first-child {
    border-right: 1px solid #979797;
    padding: 0.25em 0.8em;
}

.add-icon {
    display: block;
    height: 25px;
    width: 25px;
    background-size: contain;
    background-position: center;
    margin: 0 0.25em 0 0;
    filter: contrast(0.1);
}