nav {
    background: white;
    font-size: 0.82em;
    position: absolute;
    width: 100%;
}

.nav__wrapper {
    max-width: 710px;
    margin: auto;
    font-weight: 800;
}

.nav__with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__wrapper__flex {
    max-width: 890px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-out {
    animation: slideOut 0.25s;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%)
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-100%);
    }
}