$font-stack: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
$small: 0.75em;
$regular: 16px;
$big: 1.333em;
$bigger: 1.777em;
$biggest: 2.369em;
$bold: 500;
$line-height: 2;


$breakpoints: (
    // 'medium': (min-width: 800px),
    'large': (min-width: 800px),
    'huge': (min-width: 1200px),
);
