$font-stack: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
$secondary-font: 'Futura', sans-serif;
$small: 0.75em;
$regular: 16px;
$regular-desktop: 18px;
$big: 1.333em;
$bigger: 1.777em;
$biggest: 2.369em;
$bold: 600;
$line-height: 2;


$breakpoints: (
    'medium': (min-width: 700px),
    'large': (min-width: 900px)
);

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
