.featured {
  position: relative;
  line-height: 0;
}

.featured-text {
    line-height: 2;
    display: none;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 1em 1.62em;
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.33);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius: 9px;

    @include respond-to('large') {
        font-size: $large-size;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 0 0 10%;
        border-radius: 0;
        top: 0;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0)
        );
        color: white;
        justify-content: center;
        p {
            width: 40%;
        }
    }
}
