// General Grid/Layout Rules
.main-wrapper {
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    box-shadow: 0 20px 20px #aaa;
}

.content-wrapper {
    @include max-width(1000px);
    padding: 1em;
}
