/* 
TypeScale used: (1.414 multiplier or 1 : 1.414 ratio)
0.354em
0.5em
0.707em
1em
1.414em
1.999em
2.827em
3.998em
*/

/* 
#4744ff purple
#8a2eff blue
#211a1d black
#8075ff light blue
#f8f0fb purple white
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 900px;
    margin: 2em auto auto;
    font-family: 'Work Sans';
    color: #211A1D;
}



/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #4744FF;
    text-align: right;
    padding: 0 0 1em;
}

.header__logo {
    background: url(images/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 110px;
    width: 110px;
}

.header__title,
.header__subtitle {
    margin: 0;
}

.header__title {
    font-size: 3.998em;
    font-weight: 100;
    color: #211A1D;
}

.header__subtitle {
    font-size: 1.414em;
    color: rgb(75, 58, 65);
}



/* CONTENT */

.content {
    padding: 1.618em 0 2em;
}

.featured-image {
    background: url(images/code.jpg);
    background-size: cover;
    background-position: bottom 30% center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.work {
    margin: 1.618em 0 0;
}

.work__title,
.item__info__title {
    font-size: 1.999em;
    margin: 0.354em 0;
}

.work__title {
    color: #8075FF;
}

.work__underline {
    display: block;
    height: 3px;
    width: 60px;
    background: rgb(155, 146, 254);
    margin: -5px 0 1em 0px;
}

.work__items {
    display: grid;
    grid-gap: 1em;
    /* 
    calc(33% - 1em) because it appears that grid does not include grid gap 
    in the 33% calculation
     */
     grid-template-columns: repeat(auto-fit, minmax(calc(33% - 1em), 1fr));
     /* I indlude the line above because it is a good example of how grid works (apparently) */
     grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
     text-align: center;
}

.work__item1 .item__thumbnail {
    background: url(images/app.jpg);
}

.work__item2 .item__thumbnail {
    background: url(images/sunflower.jpg);
}

.work__item3 .item__thumbnail {
    background: url(images/bokeh.jpg);
}

/* apply styles to all thumbnails after image has been declared */
.work__item .item__thumbnail {
    background-size: cover;
    background-position: center 25%;
    background-repeat: no-repeat;
    width: 100%;
    height: 222px;
}