.bounty {
    color: #fafafa;
    border: 2px solid #fafafa;
    /* background: rgba(92, 92, 92, 0.482); */
    border-radius: 10px;
    padding: 0 1em 0.5em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

.bounty__primary-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bounty__extra-info {
    display: flex;
    padding: 1em 0;
}

.bounty__extra-info span:not(:last-child) {
    margin: 0 1.618em 0 0;
}


.bounty__popper {
    align-self: flex-end;
    cursor: pointer;
}

.bounty__btns {
    display: flex;
    justify-content: flex-end;
}

.bounty__btns button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.bounty__btns button i {
    font-size: 1.5em;
    color: black;
}

.bounty__btns button:not(:last-child) {
    margin: 0 1.618em 0 0;
}