nav {
    padding-top: 1em;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:nth-child(2) {
    margin-left: auto;
}

.nav__item {
    margin-right: 1.618em;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item:not(:first-child) {
    font-weight: bold;
}

.logo {
    font-size: 1.414em;
    font-weight: 100;
    letter-spacing: 1em;
}