.simple-editor {
    display: flex;
    flex-direction: column;
}

.simple-editor input,
.simple-editor textarea {
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    background: none;
    padding: 0.618rem 1rem;
    border-radius: 15px;
}

.simple-editor input {
    font-family: inherit;
    font-size: 1.618em;
    margin: 0 0 1em;
}

.simple-editor textarea {
    font-family: inherit;
    font-size: 1em;
    height: 200px;
    resize: none;
}

.simple-editor button {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    background: black;
    color: white;
    border: none;
    margin: 1em 0;
    align-self: center;
    padding: 0.618em 1em;
    border-radius: 50px;
    cursor: pointer;
}