@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #4834d4;
}

body {
  font-family: "Avenir Next", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 2;
}
@media (min-width: 900px) {
  body {
    font-size: 18px;
  }
}

h1 {
  font-size: 1.777em;
}

h2 {
  font-size: 1.333em;
}

h3 {
  font-size: 16px;
}
@media (min-width: 900px) {
  h3 {
    font-size: 18px;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
}

.main-wrapper {
  position: relative;
  background-color: white;
  z-index: 1;
  transition: all 0.5s;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.2);
}

.basic-wrapper {
  max-width: 1000px;
  margin: auto;
}

nav {
  background: white;
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn,
.desktop-menu {
  padding: 0.75em 1rem;
}

.logo {
  border: 2px solid black;
  font-weight: 600;
  font-size: 1.25em;
  padding: 0 0.75em;
  margin: 0.5em 0 0.5em 1em;
}
.logo a {
  color: inherit;
}

.menu-btn {
  font-size: 2em;
  cursor: pointer;
}
@media (min-width: 700px) {
  .menu-btn {
    display: none;
  }
}

.desktop-menu {
  display: none;
}
.desktop-menu a {
  padding: 0 1em;
}
@media (min-width: 700px) {
  .desktop-menu {
    display: block;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 50%;
  left: 50%;
  z-index: 0;
  padding: 1em 0;
}
.menu a {
  padding: 1.5em;
}
@media (min-width: 900px) {
  .menu {
    display: none;
  }
}

.featured {
  position: relative;
  line-height: 0;
  height: 80vh;
}

.featured-img {
  height: 100%;
  width: 100%;
  background: url(../../images/horizon-zero-dawn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
@media (min-width: 900px) {
  .featured-img {
    background-position: bottom 5% center;
  }
}

.featured-box {
  animation: fadeIn 1.5s ease-in;
}
@media (min-width: 700px) {
  .featured-box {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.15) 100%);
  }
}

.featured-text {
  display: flex;
  flex-direction: column;
  line-height: 2;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
}
@media (min-width: 700px) {
  .featured-text {
    border-radius: 0;
    background: none;
    -webkit-backdrop-filter: none;
    -webkit-box-shadow: none;
    backdrop-filter: none;
    position: static;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    margin: auto;
    height: 100%;
  }
  .featured-text h2,
.featured-text p {
    font-size: 1.333em;
    font-weight: 500;
    text-align: center;
    max-width: 50%;
  }
  .featured-text h2 {
    font-weight: 700;
    font-size: 1.777em;
  }
}
@media (min-width: 900px) {
  .featured-text {
    align-items: flex-start;
  }
  .featured-text h2,
.featured-text p {
    font-size: 1.333em;
    font-weight: 16px;
    text-align: left;
    max-width: 36%;
  }
  .featured-text h2 {
    font-weight: 600;
    font-size: 1.777em;
  }
}

footer {
  background: #fafafa;
  padding: 0 1rem 1rem;
  font-size: 0.75em;
  color: #aaa;
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}
.footer-links a {
  color: #686de0;
  padding: 0.5em 0;
}
@media (min-width: 900px) {
  .footer-links a {
    padding-right: 1em;
  }
}
@media (min-width: 900px) {
  .footer-links {
    flex-direction: row;
  }
}

article {
  padding-top: 0 em;
  display: flex;
  flex-direction: column;
}

.article-wrapper {
  padding: 1em 1em 0;
  max-width: 750px;
  margin: auto;
}
.article-wrapper img {
  margin-top: 1em;
  border-radius: 9px;
}

.article-body p:first-child {
  text-indent: 0;
}
.article-body p {
  margin: 1em 0;
  text-indent: 3em;
}

.button {
  border-radius: 200px;
  padding: 0.33em 1.25em;
  margin: 1em 0 0.5em;
  cursor: pointer;
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
}
.button a {
  color: inherit;
}

.featured-btn {
  display: block;
  background: black;
  color: white;
  align-self: center;
}
@media (min-width: 900px) {
  .featured-btn {
    align-self: flex-start;
  }
}

.ghost-btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-style: oblique;
  border: 1.5px solid black;
  color: black;
  align-self: flex-start;
}
.ghost-btn i {
  font-size: 16px;
  margin-left: 0.5em;
  transform: scaleX(1.25);
}
@media (min-width: 900px) {
  .ghost-btn {
    padding: 1em 1.25em;
    align-self: flex-start;
  }
}
@media (min-width: 700px) {
  .ghost-btn {
    align-self: center;
  }
}

@media (min-width: 700px) {
  .cards {
    display: flex;
  }
  .cards .card {
    flex: 1;
  }
  .cards .card:nth-child(1) {
    margin-right: 0.5em;
  }
  .cards .card:nth-child(2) {
    margin-left: 0.5em;
  }
}
@media (min-width: 900px) {
  .cards {
    display: block;
  }
}

.card {
  margin: 1em;
  padding: 0.5em;
  border-radius: 9px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
@media (min-width: 900px) {
  .card {
    margin: 5em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    box-shadow: none;
    border-radius: none;
  }
}
.card img {
  border-radius: 4.5px;
}
@media (min-width: 900px) {
  .card img {
    grid-column: 1/2;
  }
}
@media (min-width: 900px) {
  .card:nth-child(2) img {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media (min-width: 900px) {
  .card:nth-child(2) .card-text {
    text-align: right;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .card:nth-child(2) .card-text a {
    align-self: flex-end;
    transform: scaleX(-1);
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.card-text h3 {
  margin: 0 0 1em;
}
@media (min-width: 900px) {
  .card-text {
    max-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2/3;
  }
  .card-text a {
    align-self: flex-start;
    height: inherit;
  }
}

/*# sourceMappingURL=css/styles.css.map */
