.card {
    margin: 1em;
    padding: 0.5em;
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

    @include respond-to('large') {
        margin: 5em 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        box-shadow: none;
        border-radius: none;
    }

    img {
        border-radius: 4.5px;
        @include respond-to('large') {
            grid-column: 1 / 2;
        }
    }

    &:nth-child(2) {
        img {
            @include respond-to('large') {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
        }
        .card-text {
            @include respond-to('large') {
                text-align: right;
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                a {
                    align-self: flex-end;
                    transform: scaleX(-1);
                }
            }
        }
    }
}

.card-text {
    padding: 1em;

    h3 {
        margin: 0 0 1em;
    }

    @include respond-to('large') {
        max-height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: 2 / 3;
        a {
            align-self: flex-start;
            height: inherit;
        }
    }
}
