@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:300,400,800');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Lora', serif; */
    font-family: 'Open Sans', sans-serif;
}