html,
body {
  margin: 0;
  height: 100%;
}

img {
  display: block;
}

i {
  cursor: pointer;
}

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 800;
  font-family: "Futura", "Helvetica Neue", "Helvetica", sans-serif;
}

p {
  margin: 0.25em 0;
}

.title-and-price {
  font-weight: 500;
}

.description {
  font-weight: 300;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.add-btn {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn i {
  color: #fff;
  font-size: 2em;
}

.edit-btn,
.delete-btn {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background: black;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  margin-right: 0.618em;
}
.edit-btn i {
  font-size: 0.9em;
}

.delete-btn i {
  font-size: 1em;
}

.todo .checkmark {
  z-index: 1;
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  border-radius: 4px;
}

.todo input:checked ~ .checkmark {
  background: #000;
}

.todo input:checked ~ .title-and-price {
  text-decoration: line-through;
}

.price-dot {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #000;
  margin: 0 0.618em 0.1em;
}

.todo .image {
  height: 150px;
  width: 100%;
  border-radius: 4px;
  background-size: cover !important;
  background-position: center !important;
  filter: grayscale(1);
}

.main-wrapper {
  padding: 0.5em 1.33em 0;
  position: relative;
  max-width: 500px;
  height: 100%;
  margin: auto;
}

#todo-form-wrapper {
  display: none;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  padding: 0.5em 1.33em 0;
}

form {
  display: flex;
  flex-direction: column;
}
form input,
form textarea,
form button {
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0.618rem;
  margin: 1em 0;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
form input {
  border-bottom: #000 solid 2px;
}
form input:first-of-type {
  font-size: 24px;
  font-family: "Futura", "Helvetica Neue", "Helvetica", sans-serif;
}
form textarea {
  border: #000 solid 2px;
  resize: none;
  height: 100px;
}
form button {
  margin: auto;
  margin-top: 1em;
  padding: 0.618em 1em;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.todo {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas: "checkbox title remainder";
  align-items: center;
  margin-bottom: 1.618em;
}

.todo input {
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  padding: 2em;
}

.todo input,
.todo .checkmark {
  grid-area: checkbox;
  align-self: center;
  justify-self: left;
}

.title-and-price {
  user-select: none;
  grid-column: title remainder;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.todo-details {
  grid-column: title/title;
}

/*# sourceMappingURL=main.css.map */
