* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    background: #ffeaa7;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.box {
    flex: 1 0 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box div {
    width: 50%;
    height: 50%;
    border-radius: 3px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box-1 {
    background: linear-gradient(-20deg, #00b894 -20%, #55efc4);
    box-shadow: 0 5px 10px -5px #777,
        0 15px 10px -10px #55efc4;
}

.box-2 {
    background: linear-gradient(-20deg, #00cec9 -20%, #81ecec);
    box-shadow: 0 5px 10px -5px #777,
        0 15px 10px -10px #81ecec;
}

.box-3 {
    background: linear-gradient(-20deg, #0984e3 -20%, #74b9ff);
    box-shadow: 0 5px 10px -5px #777,
        0 15px 10px -10px #74b9ff;
}

.box-4 {
    background: linear-gradient(-20deg, #6c5ce7 -20%, #a29bfe);
    box-shadow: 0 5px 10px -5px #777,
        0 15px 10px -10px #a29bfe;
}

.box-5 {
    background: linear-gradient(-20deg, #e17055 -20%, #fab1a0);
    box-shadow: 0 5px 10px -5px #777,
        0 15px 10px -10px #fab1a0;
}

.box-6 {
    background: linear-gradient(-20deg, #d63031 -20%, #ff7675);
    box-shadow: 0 5px 10px -5px #777,
        0 15px 10px -10px #ff7675;
}

.box-1:hover {
    box-shadow: 0 7px 10px -5px #888,
        0 20px 10px -12px #55efc4;
    transform: scale(1.1, 1.1);
}

.box-2:hover {
    box-shadow: none;
    transform: scale(1.1, 1.1);
    transform: rotate(-360deg);
}

.box-3:hover {
    filter: invert(100%);
}

.box-4:hover {
    opacity: 0.5;
}

.box-5:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px #fab1a0;
}

.box-6:hover {
    transform: skew(15deg, 15deg) scaleY(1.1);
}