.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    font-size: 16px;
}

.products-section {
    display: flex;
    flex-direction: column;
}

.view-more {
    align-self: flex-end;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
    margin-bottom: 1.618em;
}

.view-more:hover {
    text-decoration: underline;
}